<form
  [formGroup]="view === true ? viewFormGroup : submitFormGroup"
  *ngIf="view === true || submit === true"
>
  <!-- To show question title -->
  <h4>
    {{ formField.fieldTitle }}
    <span
      *ngIf="isRequiredField('fieldId_' + getString(formField.fieldId))"
      class="required"
      >*</span
    >
  </h4>

  <!-- Radio button -->
  <div
    *ngIf="formField.fieldType === 'radio'"
    class="d-flex flex-direction-column gap"
  >
    <div *ngFor="let attribute of formField.attributes" class="field-checkbox">
      <p-radioButton
        [inputId]="attribute.attrId.toString()"
        [name]="'fieldId_' + getString(formField.fieldId)"
        [value]="attribute.value"
        [formControlName]="'fieldId_' + getString(formField.fieldId)"
      />
      <label [for]="attribute.attrId.toString()" class="ml-2">
        {{ attribute.value }}
      </label>
    </div>
  </div>

  <!-- To show input field -->
  <input
    *ngIf="formField.fieldType === 'input'"
    type="text"
    pInputText
    class="w-max"
    size="small"
    [formControlName]="'fieldId_' + getString(formField.fieldId)"
    [placeholder]="submit ? 'Enter your text' : ''"
  />

  <!-- Date -->
  <input
    *ngIf="formField.fieldType === 'date' && view === true"
    type="text"
    pInputText
    class="w-max"
    size="small"
    [value]="
      formatDate(
        viewFormGroup.get('fieldId_' + getString(formField.fieldId))?.value
      )
    "
    disabled
  />
  <p-calendar
    *ngIf="formField.fieldType === 'date' && submit === true"
    [showIcon]="true"
    class="w-max"
    size="small"
    dateFormat="dd-M-yy"
    [formControlName]="'fieldId_' + getString(formField.fieldId)"
    placeholder="Select your date"
  />

  <!-- To show required field -->
  <div
    *ngIf="
      submit === true &&
      submitFormGroup.get('fieldId_' + getString(formField.fieldId))?.invalid &&
      submitFormGroup.get('fieldId_' + getString(formField.fieldId))?.touched
    "
    class="error-message"
  >
    This field is required!
  </div>
</form>

<form [formGroup]="formGroup">
  <p-card *ngIf="edit === true">
    <ng-template pTemplate="header">
      <div class="header">
        <div class="left">
          <!-- Dropdown to select field type -->
          <p-dropdown
            class="fieldTypeDropdown"
            [options]="fieldTypes"
            formControlName="fieldType"
          />
        </div>
        <div class="right">
          <p-toggleButton
            onLabel="Required"
            offLabel="Not Required"
            formControlName="required"
          ></p-toggleButton>
        </div>
      </div>
    </ng-template>

    <!-- For display question -->
    <input
      type="text"
      pInputText
      class="w-max"
      size="small"
      [formControlName]="'fieldTitle'"
      placeholder="Write your question"
    />

    <!-- For display radio -->
    <div
      *ngIf="formGroup.get('fieldType')?.value === 'radio'"
      formArrayName="attributes"
    >
      <br />
      <div
        *ngFor="let attribute of attributes.controls; let i = index"
        [formGroupName]="i"
      >
        <p-inputGroup>
          <p-inputGroupAddon>Option {{ i + 1 }}</p-inputGroupAddon>
          <input
            type="text"
            formControlName="value"
            pInputText
            placeholder="Enter some text"
          />
          <button
            type="button"
            (click)="removeOption(i)"
            pButton
            icon="pi pi-times"
            class="p-button-danger"
          ></button>
        </p-inputGroup>
        <br />
      </div>
      <p-button label="Add option" size="small" (click)="addOption()" />
    </div>

    <p-footer class="d-flex j-end gap">
      <p-button
        [label]="formField.fieldId >= 1 ? 'Update' : 'Create'"
        size="small"
        (onClick)="handleSave()"
        [loading]="isLoading"
        [disabled]="formGroup.invalid || !formGroup.dirty"
      />
    </p-footer>
  </p-card>
</form>
