header {
  min-height: 50px;
  padding: var(--global-size);
  background-color: var(--primary-color);
  margin: 0 !important;

  display: flex;
  gap: var(--global-size);
  align-items: center;
  justify-content: space-between;
}

header > * {
  color: var(--primary-color-text);

  ::ng-deep .p-button-text {
    color: white !important;
  }
}
