header {
  height: 50px;
  padding: var(--global-size);
  background-color: var(--primary-color);
  margin: 0 !important;

  display: flex;
  gap: var(--global-size);
}

.brand {
  .text {
    color: var(--primary-color-text);
  }
}

.navigation {
  .text {
    color: var(--primary-color-text);
    cursor: pointer;
  }
}
