<app-header></app-header>
<div class="d-flex j-space-between a-center">
  <app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>
</div>
<div class="container">
  <p-table
    [styleClass]="'p-datatable-sm'"
    [value]="formSubmits"
    [paginator]="totalPages > 1"
    [rows]="pageSize"
    [totalRecords]="totalRecords"
    (onPage)="onPageChange($event)"
    [lazy]="true"
    [rowsPerPageOptions]="[5, 10, 20]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Email</th>
        <th>Submitted At</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-response>
      <tr *ngIf="isLoading">
        <td><p-skeleton height="3rem" /></td>
        <td><p-skeleton height="3rem" /></td>
        <td><p-skeleton height="3rem" /></td>
      </tr>
      <tr *ngIf="!isLoading">
        <td>
          <div class="d-flex a-center gap">
            <i class="pi pi-user"></i>
            {{ response.email }}
          </div>
        </td>
        <td>
          <app-date-column [date]="response.createdDate"></app-date-column>
        </td>
        <td>
          <p-button
            size="small"
            icon="pi pi-eye"
            [rounded]="true"
            [text]="true"
            severity="info "
            (onClick)="viewResponse(response.subId)"
          />
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
