<app-header></app-header>
<div class="container mw-800px m-auto">
  <p-card header="Basic Details">
    <form [formGroup]="basicDetails">
      <input
        type="text"
        pInputText
        formControlName="title"
        class="w-full"
        placeholder="Please enter title..."
      />
      <div class="space-h"></div>
      <textarea
        rows="5"
        cols="30"
        formControlName="description"
        pInputTextarea
        [autoResize]="true"
        placeholder="Please enter description..."
        class="w-full"
      ></textarea>
    </form>
    <p-footer class="d-flex j-end gap">
      <p-button
        label="Go to Admin"
        severity="secondary"
        size="small"
        (onClick)="navigateService.navigateToAdmin()"
      />
      <p-button
        *ngIf="isCreate === true"
        label="Create Form"
        size="small"
        (onClick)="handleBasicDetailSubmit()"
        [disabled]="basicDetails.invalid || !basicDetails.dirty"
      />
      <p-button
        *ngIf="isUpdate === true"
        label="Update Basic Details"
        size="small"
        (onClick)="handleEditBasicDetailSubmit()"
        [disabled]="basicDetails.invalid || !basicDetails.dirty"
      />
    </p-footer>
  </p-card>
  <app-form-field-edit-factory
    [formFields]="formFields"
  ></app-form-field-edit-factory>
  <ng-container *ngIf="isUpdate === true">
    <div class="space-h"></div>
    <app-card-add-button (click)="handleAddCardButton()"></app-card-add-button>
  </ng-container>
</div>
