<app-header></app-header>
<div class="d-flex j-space-between a-center">
  <app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>
</div>
<div class="container mw-800px m-auto">
  <p-card header="Basic Details">
    <form [formGroup]="basicDetails">
      <input
        type="text"
        pInputText
        formControlName="title"
        class="w-full"
        placeholder="Please enter title..."
      />
      <div class="space-h"></div>
      <textarea
        rows="5"
        cols="30"
        formControlName="description"
        pInputTextarea
        [autoResize]="true"
        placeholder="Please enter description..."
        class="w-full"
      ></textarea>
      <div class="space-h"></div>
      <div class="d-flex a-center">
        <p-checkbox
          formControlName="multipleSubmit"
          [binary]="true"
          inputId="multipleSubmit"
        />
        <label for="multipleSubmit">&nbsp;Multiple Submit</label>
      </div>
    </form>
    <p-footer class="d-flex j-end gap">
      <p-button
        label="Go to Admin"
        severity="secondary"
        size="small"
        (onClick)="navigateService.navigateToAdmin()"
      />
      <p-button
        label="Save"
        size="small"
        [loading]="isLoading"
        (onClick)="handleBasicDetailSubmit()"
        [disabled]="basicDetails.invalid || !basicDetails.dirty"
      />
    </p-footer>
  </p-card>
  <app-form-field-edit-factory
    [formFields]="formFields"
    (deleteFormField)="deleteFormField($event)"
  ></app-form-field-edit-factory>
  <ng-container *ngIf="isUpdate === true">
    <div class="space-h"></div>
    <app-card-add-button (click)="handleAddCardButton()"></app-card-add-button>
  </ng-container>
</div>
