<app-header></app-header>
<div class="d-flex j-space-between a-center pr-1">
  <app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>
  <p-button
    label="Create Form"
    [outlined]="true"
    size="small"
    (onClick)="navigateService.navigateToForm()"
    [style.marginTop.rem]="1"
  />
</div>
<div class="container">
  <div class="space-h"></div>
  <p-table
    [styleClass]="'p-datatable-sm'"
    [value]="forms"
    [paginator]="true"
    [rows]="pageSize"
    [totalRecords]="totalRecords"
    (onPage)="onPageChange($event)"
    [loading]="loading"
    [lazy]="true"
    [rowsPerPageOptions]="[5, 10, 20]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Form Id</th>
        <th>Title</th>
        <th>Created Date</th>
        <th>Response</th>
        <th>Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-response>
      <tr>
        <td>
          <div class="d-flex a-center gap">
            <i class="pi pi-book"></i>
            {{ response.formId }}
          </div>
        </td>
        <td>
          <p>{{ response.title }}</p>
        </td>
        <td>
          <app-date-column [date]="response.createdDate"></app-date-column>
        </td>
        <td>
          <app-label-external-link
            [label]="response.submitsCount"
            [link]="'responses/' + response.formId"
            [textForNullValue]="0"
          ></app-label-external-link>
        </td>
        <td>
          <p-button
            icon="pi pi-pencil"
            [rounded]="true"
            [text]="true"
            size="small"
            (onClick)="navigateService.navigateToFormEdit(response.formId)"
          />
          <p-button
            icon="pi pi-share-alt"
            [rounded]="true"
            [text]="true"
            pBadge
            value="2"
            (onClick)="copyToClipboard(response.formId)"
          />
        </td>
      </tr>
    </ng-template>

    <!-- Empty Message Template -->
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5" class="text-center">No form created</td>
      </tr>
    </ng-template>
  </p-table>
</div>
