<main class="form-container container">
  <div class="bg-img"></div>
  <p-card *ngIf="isFormDetailsLoading || isFormSubmitted">
    <div *ngIf="isFormDetailsLoading">
      <p-progressSpinner ariaLabel="loading" class="d-flex j-end a-center" />
    </div>
    <div
      *ngIf="isFormSubmitted"
      class="d-flex j-center a-center flex-column gap"
    >
      <i class="pi pi-check-circle" style="font-size: 3rem; color: #28a745"></i>
      <span class="mt-2" style="color: #28a745; font-weight: 500"
        >Form successfully submitted</span
      >
    </div>
  </p-card>
  <p-card
    *ngIf="
      isFormDetailsLoading == false && isFormSubmitted == false && form != null
    "
    [header]="form.title"
  >
    <ng-template pTemplate="header">
      <div class="form-info" *ngIf="isAlreadySubmitted">
        <p-messages
          [(value)]="alreadySubmitMessage"
          [enableService]="false"
          [closable]="false"
        />
      </div>
    </ng-template>
    <p class="m-0">{{ form.description }}</p>
    <br />
    <form
      [formGroup]="formGroup"
      *ngIf="isAlreadySubmitted == false; else alreadySubmitted"
    >
      <app-dynamic-form
        *ngIf="isFormDetailsLoading == false"
        [formFields]="form.formFields"
        [formGroup]="formGroup"
      ></app-dynamic-form>
      <br />
      <div class="d-flex j-end a-center">
        <p-button
          type="button"
          [label]="isFormSubmitted ? 'Done' : 'Submit'"
          [icon]="isFormSubmitted ? 'pi pi-check' : ''"
          [loading]="isLoading"
          (onClick)="handleSubmitForm($event)"
          [disabled]="formGroup.disabled"
          size="small"
        />
      </div>
    </form>

    <ng-template #alreadySubmitted>
      <app-form-view-submission
        [formFields]="form.formFields"
        [answers]="answers"
      ></app-form-view-submission>
    </ng-template>
  </p-card>
  <app-mini-footer></app-mini-footer>
</main>
