<main *ngIf="form != null" class="form-container container">
  <p-card [header]="form.title">
    <p class="m-0">{{ form.description }}</p>
    <br />
    <form [formGroup]="resformGroup">
      <app-form-field-factory
        [formFields]="form.formFields"
        [respFormGroup]="resformGroup"
      >
      </app-form-field-factory>
      <br />
      <div class="d-flex j-end a-center">
        <p-button type="submit" label="Submit" (onClick)="handleSubmitForm()" />
      </div>
    </form>
  </p-card>
  <app-mini-footer></app-mini-footer>
</main>
