<header>
  <div class="brand-logo">
    <img
      alt="icon"
      src="https://www.makeitcoder.com/images/logo.svg"
      width="35px"
    />
    <p>Makeitcoder</p>
  </div>
</header>
<div class="container-gap">
  <div class="hero">
    <h1>Makeitcoder Forms</h1>
    <p>Create and gather your data</p>
  </div>
  <div class="our-clients">
    <h2>Our Clients</h2>
    <p>We have been working with some Fortune 500+ clients</p>
  </div>
  <div class="forms-count">
    <div><h2>Usage of forms</h2></div>
    <div>
      <p>Total forms created: 0</p>
      <p>Daily form created: 0</p>
      <p>Total forms submission: 0</p>
      <p>Daily form submission: 0</p>
    </div>
  </div>
  <div class="testimonials">
    <h2>Testimonial</h2>
  </div>
  <div class="pricing">
    <h2>Pricing</h2>
  </div>
</div>
<footer>
  <div class="brand-logo">
    <img
      alt="icon"
      src="https://www.makeitcoder.com/images/logo.svg"
      width="35px"
    />
    <p>Makeitcoder</p>
  </div>
  <div></div>
</footer>
