<app-header></app-header>
<div class="d-flex j-space-between a-center">
  <app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>
</div>
<div class="container">
  <main *ngIf="form != null" class="form-container">
    <p-card [header]="form.title">
      <p class="m-0">{{ form.description }}</p>
      <br />
      <app-form-view-submission
        *ngIf="form.formFields"
        [answers]="answers"
        [formFields]="form.formFields"
      ></app-form-view-submission>
    </p-card>
  </main>
</div>
