/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

body {
  padding: 0;
  margin: 0;
}

.w-max,
.w-full {
  min-width: 100%;
}

.mw-800px {
  max-width: 800px;
}

.m-auto {
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.j-end {
  justify-content: end;
}

.a-center {
  align-items: center;
}

:root {
  --color-black: black;
  --global-size: 1rem;
}

.container {
  padding: var(--global-size);
}

.space-h {
  height: var(--global-size);
}

.pb-1 {
  padding-bottom: var(--global-size);
}

.gap {
  gap: var(--global-size);
}
